* {
    margin: 0;
    padding: 0;
  }

body {
    background-color: gray;
    padding: 20px;
    background-image: url('../images/Cedar.jpg');
}

header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

main {
    padding: 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    max-width: 70%;
    margin: auto;
    background-color: white;
}

footer {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}

a:hover {
    background-color: lightskyblue;
}

li {
    font-family: cursive;
    font-size: larger;
    font-weight: bold;
    margin-bottom: 10px;
}

li:hover {
    text-decoration: underline;
}

div {
    font-family: cursive;
    color: darkslategray;
    margin-bottom: 15px;
    border-radius: 10px;
    border-style: dotted;
    border-color: darkslategray;
}

div:hover {
    color: black;
    border-color: black;
    border-style: solid;
}

.extra-info {
    background-color: red;
    color: black;
    border-style: hidden;
}