* {
    margin: 0;
    padding: 0;
  }

body {
    background-color: gray;
    padding: 20px;
}

header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

main {
    padding: 20px;
    border-radius: 10px;
}

.village-short {
    padding: 20px;
    font-family: cursive;
    font-size: larger;
    margin-bottom: 20px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border-style:solid;
    border-color: black;
    margin-bottom: 20px;
}

a {
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
    text-align: center;
}

a:hover {
    background-color: lightskyblue;
}